

<div class="card">
    <img class="card__img" src="{{url_image}}" alt=""> 
    <span class="card__title">{{titre}}</span>

    <div class="card__text">

        <span class="card__text_real">{{realisateur}}</span>
        
        <div class="card__text_bottom">

            <span class="card__text_type">{{type}}</span>


            <button class="card__text_button">Ajouter a ma liste</button>


            <span class="card__text_date">{{annee_de_sortie}}</span>

        </div>
    </div>
   
</div>
<a href="{{url_trailer}}"></a>
</div>
